<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lorikeet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
      <add name="Lorikeet.Properties.Settings.Database1ConnectionString"
          connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\code\Database1.mdb;Jet OLEDB:Database Password=member04"
          providerName="System.Data.OleDb" />
      <add name="Lorikeet.Properties.Settings.LorikeetAppConnectionStringMySQL"
          connectionString="server=192.168.1.231;user id=lorikeet;password=lorikeet;persistsecurityinfo=True;database=LorikeetApp"
          providerName="MySql.Data.MySqlClient" />
      <add name="Lorikeet.Properties.Settings.LorikeetAppConnectionString2"
          connectionString="User Id=lorikeet;Password=lorikeet;Host=192.168.1.231;Database=LorikeetApp;Persist Security Info=True;Tiny As Boolean=True"
          providerName="Devart.Data.MySql" />
      <add name="LorikeetAppEntities" connectionString="metadata=res://*/Data.LorikeetModel.csdl|res://*/Data.LorikeetModel.ssdl|res://*/Data.LorikeetModel.msl;provider=Devart.Data.MySql;provider connection string=&quot;User Id=lorikeet;Password=lorikeet;Host=192.168.1.231;Database=LorikeetApp;Persist Security Info=True;Tiny As Boolean=True&quot;"
          providerName="System.Data.EntityClient" />
      <add name="192.168.1.231_LorikeetApp_Connection" connectionString="XpoProvider=MySql;server=192.168.1.231;port=3306;user id=lorikeet; password=lorikeet; database=LorikeetApp;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.MySqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="Devart.Data.MySql" type="Devart.Data.MySql.Entity.MySqlEntityProviderServices, Devart.Data.MySql.Entity.EF6, Version=8.12.1202.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Lorikeet.Properties.Settings>
      <setting name="BingKey" serializeAs="String">
        <value>Ah_GLvMCtg2uzZkeG7EEOdYRfJu0mZH0YBcLPhtqc73YBnfoeWvLrpeTwL1qVsjO</value>
      </setting>
    </Lorikeet.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.2.0" newVersion="1.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.1964.0" newVersion="5.0.1964.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.MySql" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.11.1172.0" newVersion="8.11.1172.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>