<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net471" />
  <package id="Devart.Data" version="5.0.1964" targetFramework="net471" />
  <package id="Devart.Data.MySql" version="8.11.1172" targetFramework="net471" />
  <package id="Devart.Data.MySql.Linq" version="4.8.1509" targetFramework="net471" />
  <package id="DuoVia.FuzzyStrings" version="1.0.1" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="GMap.NET.Windows" version="1.8.5" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.6.0" targetFramework="net471" />
  <package id="GoogleApi" version="3.4.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net471" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net471" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net471" />
</packages>